.main-board {
  width: 100%;
  aspect-ratio: 16 / 9;
  background-size: cover;
  position: relative;
  background: url('../../assets/png/apeworld/background.png') ;
}

.main-board div {
  cursor: pointer;
}

.apeworld-bar {
  width: 21.2%;
  height: 26.3%;
  position: absolute;
  top: 42.8%;
  left: 9.4%;
  background-image: url('../../assets/svg/apeworld/bar.svg');
  background-size: cover;
}

.apeworld-store {
  width: 16.72%;
  height: 18.3%;
  position: absolute;
  top: 2.4%;
  left: 60.99%;
  background-image: url('../../assets/svg/apeworld/store.svg');
  background-size: cover;
}

.apeworld-ship {
  width: 17.5%;
  height: 34.7%;
  position: absolute;
  top: 6.7%;
  left: 72.5%;
  background-image: url('../../assets/svg/apeworld/ship.png');
  background-size: cover;
}

.apeworld-jungle {
  width: 20.13%;
  height: 21.58%;
  position: absolute;
  top: 16.13%;
  left: 44.56%;
  background-image: url('../../assets/svg/apeworld/jungle.svg');
  background-size: cover;
}

.apeworld-shop {
  width: 17.3%;
  height: 17.96%;
  position: absolute;
  top: 23.79%;
  left: 4.42%;
  background-image: url('../../assets/svg/apeworld/shop.svg');
  background-size: cover;
}

.apeworld-lab {
  width: 26.33%;
  height: 28.4%;
  position: absolute;
  top: 18.89%;
  left: 18.6%;
  background-image: url('../../assets/svg/apeworld/lab.svg');
  background-size: cover;
}

.apeworld-casino {
  width: 21.2%;
  height: 24.48%;
  position: absolute;
  top: 40%;
  left: 76.2%;
  background-image: url('../../assets/svg/apeworld/casino.svg');
  background-size: cover;
}

.apeworld-gym {
  width: 21.88%;
  height: 22.66%;
  position: absolute;
  top: 45.9%;
  left: 42.8%;
  background-image: url('../../assets/svg/apeworld/gym.svg');
  background-size: cover;
}

.apeworld-realstate {
  width: 25.57%;
  height: 23.91%;
  position: absolute;
  top: 65.69%;
  left: 19.11%;
  background-image: url('../../assets/svg/apeworld/realstate.svg');
  background-size: cover;
}

.apeworld-gull {
  width: 81.2%;
  height: 91.8%;
  position: absolute;
  top: 4.07%;
  left: 9.43%;
  background-image: url('../../assets/png/apeworld/decorators/gull.png');
  background-size: cover;
}

.apeworld-title {
  width: 27.06%;
  height: 17.69%;
  position: absolute;
  top: 1.67%;
  left: 36.46%;
  background-image: url('../../assets/png/apeworld/decorators/title.png');
  background-size: cover;
  z-index: 4 !important;
}

.apeworld-islandstones {
  width: 40.68%;
  height: 37.02%;
  position: absolute;
  top: 56.82%;
  left: 5.94%;
  background-image: url('../../assets/png/apeworld/decorators/islandstones.png');
  background-size: cover;
}

.apeworld-seastones {
  width: 82.5%;
  height: 84.18%;
  position: absolute;
  top: 13.33%;
  left: 17.5%;
  background-image: url('../../assets/png/apeworld/decorators/seastones.png');
  background-size: cover;
}

.apeworld-palm {
  width: 50.36%;
  height: 45.47%;
  position: absolute;
  top: 8.42%;
  left: 18.6%;
  background-image: url('../../assets/png/apeworld/decorators/palm.png');
  background-size: cover;
}

.apeworld-lack {
  width: 42.13%;
  height: 21.89%;
  position: absolute;
  top: 49.17%;
  left: 3.7%;
  background-image: url('../../assets/png/apeworld/decorators/lack.png');
  background-size: cover;
}

.building {
  z-index: 2;
}

.building:hover {
  filter: drop-shadow(0px 0px 8px #F8C72C) drop-shadow(0px 0px 22px #F8C72C) drop-shadow(0px 0px 45px #FF8D00);
}

.decorator {
  z-index: 1;
}